body {
background-color: #212121;
margin-left: auto;
margin-right: auto;
text-align: center;
display: block;
color: #DEDEDE;
font-size: 110%;
font-family: "Verdana";
}

h1 {
color: #ff5722;
font-size: 260%;
}

img {
 max-width: 90%;
 max-height: 90%;
}

a {
color: deepskyblue;
}