<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='404.css') }}">
    <meta charset="UTF-8">
    <title>404 - ClipperZipper</title>
</head>
<body>
    <h1>404 - ClipperZipper</h1>
    Something went wrong. The URL is invalid.
    <br>
    <br>
    <a href="/">Return to home page.</a><br>
    <img src="{{ url_for('static', filename='img/thinkfall.gif') }}">
    <br><br>
</body>
</html>